Attention_is_all_you_need==0.1.0
nvidia-cusparse-cu12==12.3.1.170
nvidia-cufft-cu12==11.2.1.3
dill==0.3.8
einops==0.6.0
rouge_score==0.1.2
nvidia-cuda-runtime-cu12==12.4.127
datasets==3.4.0
nvidia-cublas-cu12==12.4.5.8
python-dotenv==1.1.0
xxhash==3.5.0
multiprocess==0.70.16
fsspec==2024.12.0
nvidia-cudnn-cu12==9.1.0.70
nvidia-cuda-cupti-cu12==12.4.127
sacremoses==0.1.1
nvidia-cusolver-cu12==11.6.1.9
tokenizers==0.13.2
nvidia-nvjitlink-cu12==12.4.127
nvidia-curand-cu12==10.3.5.147
evaluate==0.4.0
transformers==4.16.2
nvidia-cuda-nvrtc-cu12==12.4.127
responses==0.18.0
google-colab==1.0.0
protobuf==5.29.4
betterproto==2.0.0b6
cloudpickle==3.1.1
raft-dask-cu12==25.2.0
dm-tree==0.1.9
miniKanren==1.0.3
pyproj==3.7.1
decorator==4.4.2
requests==2.32.3
astunparse==1.6.3
contourpy==1.3.1
stringzilla==3.12.3
sklearn-pandas==2.2.0
xgboost==2.1.4
prometheus_client==0.21.1
requests-oauthlib==2.0.0
blosc2==3.2.0
importlib_resources==6.5.2
orjson==3.10.15
kagglehub==0.3.10
safetensors==0.5.3
prompt_toolkit==3.0.50
fastai==2.7.19
spacy-loggers==1.0.5
argon2-cffi-bindings==21.2.0
google-cloud-bigquery-storage==2.29.1
mdit-py-plugins==0.4.2
bleach==6.2.0
lightgbm==4.5.0
pyasn1_modules==0.4.1
python-box==7.3.2
sphinxcontrib-htmlhelp==2.1.0
cyipopt==1.5.0
google-cloud-storage==2.19.0
jupyter-console==6.1.0
Cython==3.0.12
soxr==0.5.0.post1
google-crc32c==1.7.0
pymc==5.21.1
imbalanced-learn==0.13.0
spacy==3.8.4
language_data==1.3.0
geemap==0.35.3
tifffile==2025.3.13
music21==9.3.0
cffi==1.17.1
grpc-google-iam-v1==0.14.2
google-cloud-functions==1.20.2
types-pytz==2025.1.0.20250318
imageio-ffmpeg==0.6.0
grpclib==0.4.7
nvidia-cuda-nvcc-cu12==12.5.82
dopamine_rl==4.1.2
preshed==3.0.9
cryptography==43.0.3
pandocfilters==1.5.1
click==8.1.8
dlib==19.24.2
hyperopt==0.2.7
humanize==4.12.1
soundfile==0.13.1
grpcio==1.71.0
tornado==6.4.2
etils==1.12.2
hyperframe==6.1.0
tensorflow-hub==0.16.1
nibabel==5.3.2
cvxopt==1.3.2
threadpoolctl==3.6.0
frozenlist==1.5.0
text-unidecode==1.3
PyOpenGL==3.1.9
cvxpy==1.6.4
tensorflow==2.18.0
pyasn1==0.6.1
llvmlite==0.43.0
pyogrio==0.10.0
logical-unification==0.4.6
xarray-einstats==0.8.0
parsy==2.1
treelite==4.4.1
jupyter-server==1.16.0
google-cloud-firestore==2.20.1
google-genai==1.7.0
ipython-genutils==0.2.0
parso==0.8.4
tensorflow-text==2.18.1
cuda-python==12.6.2.post1
oauthlib==3.2.2
proglog==0.1.10
smmap==5.0.2
bigquery-magics==0.8.0
seaborn==0.13.2
glob2==0.7
libucx-cu12==1.18.0
pyarrow==18.1.0
dask==2024.12.1
sphinxcontrib-devhelp==2.0.0
portpicker==1.5.2
kiwisolver==1.4.8
flatbuffers==25.2.10
pyspark==3.5.5
GitPython==3.1.44
matplotlib==3.10.0
libcuml-cu12==25.2.1
accelerate==1.5.2
pymystem3==0.2.0
pygit2==1.17.0
pygame==2.6.1
libclang==18.1.1
PySocks==1.7.1
httpcore==1.0.7
jupyter-leaflet==0.19.2
idna==3.10
optax==0.2.4
thinc==8.3.4
bokeh==3.6.3
audioread==3.0.1
cymem==2.0.11
propcache==0.3.0
distributed==2024.12.1
entrypoints==0.4
langsmith==0.3.18
python-slugify==8.0.4
pynvml==12.0.0
gin-config==0.5.0
vega-datasets==0.9.0
pandas-datareader==0.10.0
geographiclib==2.0
chex==0.1.89
notebook_shim==0.2.4
sentencepiece==0.2.0
widgetsnbextension==3.6.10
argon2-cffi==23.1.0
requests-toolbelt==1.0.0
xlrd==2.0.1
rpds-py==0.23.1
ipykernel==6.17.1
jsonschema==4.23.0
h11==0.14.0
google-api-python-client==2.164.0
natsort==8.4.0
rmm-cu12==25.2.0
pycparser==2.22
albumentations==2.0.5
db-dtypes==1.4.2
ipython-sql==0.5.0
et_xmlfile==2.0.0
earthengine-api==1.5.7
SQLAlchemy==2.0.39
pickleshare==0.7.5
tweepy==4.15.0
altair==5.5.0
google-cloud-aiplatform==1.84.0
ply==3.11
nltk==3.9.1
pyzmq==24.0.1
intel-cmplr-lib-ur==2025.0.5
pyperclip==1.9.0
dask-cudf-cu12==25.2.2
tcmlib==1.2.0
clarabel==0.10.0
nbconvert==7.16.6
google-api-core==2.24.2
h5netcdf==1.6.1
nvidia-nccl-cu12==2.21.5
google==2.0.3
proto-plus==1.26.1
pynvjitlink-cu12==0.5.2
ipytree==0.2.2
roman-numerals-py==3.1.0
ipywidgets==7.7.1
blis==1.2.0
mdurl==0.1.2
regex==2024.11.6
confection==0.1.5
matplotlib-inline==0.1.7
Deprecated==1.2.18
opencv-contrib-python==4.11.0.86
jieba==0.42.1
GDAL==3.6.4
wcwidth==0.2.13
wandb==0.19.8
colour==0.1.5
pyparsing==3.2.1
cmake==3.31.6
itsdangerous==2.2.0
umap-learn==0.5.7
greenlet==3.1.1
cudf-cu12==25.2.1
google-auth-oauthlib==1.2.1
srsly==2.5.1
tf_keras==2.18.0
fastrlock==0.8.3
statsmodels==0.14.4
prettytable==3.15.1
libraft-cu12==25.2.0
stanio==0.5.1
duckdb==1.2.1
optree==0.14.1
ratelim==0.1.6
tzlocal==5.3.1
ndindex==1.9.2
Jinja2==3.1.6
wordcloud==1.9.4
missingno==0.5.2
gdown==5.2.0
google-resumable-media==2.7.2
traittypes==0.2.1
notebook==6.5.7
gspread==6.2.0
opencv-python-headless==4.11.0.86
namex==0.0.8
wrapt==1.17.2
google-cloud-pubsub==2.28.0
torchaudio==2.6.0+cu124
attrs==25.3.0
Markdown==3.7
holoviews==1.20.2
astropy==7.0.1
peewee==3.17.9
tensorflow-metadata==1.16.1
iniconfig==2.1.0
setproctitle==1.3.5
google-auth==2.38.0
array_record==0.7.1
absl-py==1.4.0
nx-cugraph-cu12==25.2.0
python-utils==3.9.1
pyOpenSSL==24.2.1
numpy==2.0.2
libcuvs-cu12==25.2.1
google-cloud-datastore==2.20.2
packaging==24.2
pyviz_comms==3.0.4
torch==2.6.0+cu124
toolz==0.12.1
sentence-transformers==3.4.1
geocoder==1.38.1
jsonpointer==3.0.0
dask-expr==1.1.21
jupyter-client==6.1.12
backcall==0.2.0
mkl==2025.0.1
osqp==0.6.7.post3
locket==1.0.0
arviz==0.21.0
keras-nlp==0.18.1
tensorboard==2.18.0
librosa==0.11.0
diffusers==0.32.2
msgpack==1.1.0
peft==0.14.0
py-cpuinfo==9.0.0
murmurhash==1.0.12
scikit-image==0.25.2
fonttools==4.56.0
googleapis-common-protos==1.69.2
moviepy==1.0.3
progressbar2==4.5.0
openpyxl==3.1.5
pytest==8.3.5
docker-pycreds==0.4.0
pydata-google-auth==1.9.1
tqdm==4.67.1
pydot==3.0.4
xyzservices==2025.1.0
nvidia-cusparselt-cu12==0.6.2
jupyterlab_pygments==0.3.0
fastdownload==0.0.7
aiohttp==3.11.14
tensorflow-datasets==4.9.8
scikit-learn==1.6.1
linkify-it-py==2.0.3
annotated-types==0.7.0
sphinxcontrib-qthelp==2.0.0
marisa-trie==1.2.1
opentelemetry-semantic-conventions==0.52b0
oauth2client==4.1.3
pydantic_core==2.27.2
hdbscan==0.8.40
dask-cuda==25.2.0
mlxtend==0.23.4
sentry-sdk==2.23.1
filelock==3.18.0
jupyterlab_widgets==3.0.13
gast==0.6.0
httpimport==1.4.1
ale-py==0.10.2
PyYAML==6.0.2
colorcet==3.1.0
nest-asyncio==1.6.0
ipyleaflet==0.19.2
matplotlib-venn==1.1.2
pillow==11.1.0
opentelemetry-api==1.31.0
jax==0.5.2
imutils==0.5.4
nvidia-nvtx-cu12==12.4.127
smart-open==7.1.0
keras-hub==0.18.1
cmdstanpy==1.2.5
imagesize==1.4.1
Werkzeug==3.1.3
pyerfa==2.0.1.5
autograd==1.7.0
prophet==1.1.6
sphinxcontrib-jsmath==1.0.1
graphviz==0.20.3
google-auth-httplib2==0.2.0
termcolor==2.5.0
nbformat==5.10.4
pydantic==2.10.6
google-cloud-bigtable==2.30.0
datascience==0.17.6
tensorflow-probability==0.25.0
defusedxml==0.7.1
future==1.0.0
wasabi==1.1.3
langchain==0.3.21
yfinance==0.2.54
zipp==3.21.0
rsa==4.9
firebase-admin==6.7.0
gspread-dataframe==4.0.0
opt_einsum==3.4.0
pandas-stubs==2.2.2.240909
pylibraft-cu12==25.2.0
kaggle==1.7.4.2
tenacity==9.0.0
ibis-framework==9.5.0
Flask==3.1.0
importlib_metadata==8.6.1
more-itertools==10.6.0
psutil==5.9.5
pylibcudf-cu12==25.2.1
yarl==1.18.3
immutabledict==4.2.1
tensorstore==0.1.72
fastprogress==1.0.3
geopy==2.4.1
Farama-Notifications==0.0.4
torchvision==0.21.0+cu124
joblib==1.4.2
google-cloud-core==2.4.3
snowballstemmer==2.2.0
keras==3.8.0
xarray==2025.1.2
html5lib==1.1
narwhals==1.31.0
alabaster==1.0.0
Sphinx==8.2.3
umf==0.9.1
tensorboard-data-server==0.7.2
tabulate==0.9.0
multitasking==0.0.11
py4j==0.10.9.7
jaxlib==0.5.1
pandas==2.2.2
python-snappy==0.7.3
urllib3==2.3.0
langchain-core==0.3.46
ml-dtypes==0.4.1
zstandard==0.23.0
numba==0.60.0
bqplot==0.12.44
PyGObject==3.42.0
tensorflow-io-gcs-filesystem==0.37.1
sortedcontainers==2.4.0
ipyevents==2.0.2
mpmath==1.3.0
google-ai-generativelanguage==0.6.15
atpublic==5.1
aiohappyeyeballs==2.6.1
albucore==0.0.23
soupsieve==2.6
pluggy==1.5.0
docutils==0.21.2
multipledispatch==1.0.0
numba-cuda==0.2.0
community==1.0.0b1
rapids-dask-dependency==25.2.0
MarkupSafe==3.0.2
partd==1.4.2
opentelemetry-sdk==1.31.0
promise==2.3
ptyprocess==0.7.0
docstring_parser==0.16
zict==3.0.0
rich==13.9.4
jupyter_core==5.7.2
highspy==1.9.0
certifi==2025.1.31
cloudpathlib==0.21.0
libcugraph-cu12==25.2.0
uritemplate==4.1.1
cuvs-cu12==25.2.1
cudf-polars-cu12==25.2.2
typing_extensions==4.12.2
sphinxcontrib-serializinghtml==2.0.0
editdistance==0.8.1
nbclient==0.10.2
distributed-ucxx-cu12==0.42.0
slicer==0.0.8
referencing==0.36.2
scooby==0.10.0
grpc-interceptor==0.15.4
libkvikio-cu12==25.2.1
typeguard==4.4.2
cycler==0.12.1
panel==1.6.1
pydotplus==2.0.2
webcolors==24.11.1
ipyfilechooser==0.6.0
gitdb==4.0.12
toml==0.10.2
nvidia-nvcomp-cu12==4.2.0.11
websocket-client==1.8.0
sqlglot==25.20.2
google-cloud-translate==3.20.2
sniffio==1.3.1
simple-parsing==0.1.7
anyio==4.9.0
grpcio-status==1.71.0
gym-notices==0.0.8
python-dateutil==2.8.2
google-cloud-iam==2.18.3
h5py==3.13.0
geopandas==1.0.1
tinycss2==1.4.0
yellowbrick==1.5
PyJWT==2.10.1
libucxx-cu12==0.42.0
mizani==0.13.1
nbclassic==1.2.0
pytz==2025.1
eerepr==0.1.1
hpack==4.1.0
websockets==15.0.1
Pygments==2.18.0
Bottleneck==1.4.2
jax-cuda12-plugin==0.5.1
six==1.17.0
folium==0.19.5
treescope==0.1.9
tf-slim==1.1.0
Send2Trash==1.8.3
uc-micro-py==1.0.3
jsonschema-specifications==2024.10.1
patsy==1.0.1
ipython==7.34.0
libcudf-cu12==25.2.1
python-louvain==0.16
qdldl==0.1.7.post5
networkx==3.4.2
tables==3.10.2
langchain-text-splitters==0.3.7
wheel==0.45.1
jax-cuda12-pjrt==0.5.1
shapely==2.0.7
openai==1.66.5
pandas-gbq==0.28.0
pexpect==4.9.0
lxml==5.3.1
pytensor==2.28.3
triton==3.2.0
httpx==0.28.1
fastcore==1.7.29
spanner-graph-notebook==1.1.4
astropy-iers-data==0.2025.3.17.0.34.53
sqlparse==0.5.3
intel-openmp==2025.0.5
typer==0.15.2
ucxx-cu12==0.42.0
traitlets==5.7.1
babel==2.17.0
CacheControl==0.14.2
google-generativeai==0.8.4
param==2.2.0
cachetools==5.5.2
colorlover==0.3.0
sympy==1.13.1
textblob==0.19.0
tblib==3.0.0
cufflinks==0.17.3
pynndescent==0.5.13
bigframes==1.41.0
jiter==0.9.0
polars==1.21.0
chardet==5.2.0
google-cloud-language==2.17.1
google-cloud-spanner==3.53.0
weasel==0.4.1
debugpy==1.8.0
plotly==5.24.1
distro==1.9.0
jellyfish==1.1.0
torchsummary==1.5.1
shellingham==1.5.4
gym==0.25.2
frozendict==2.4.6
h2==4.2.0
shap==0.47.0
scs==3.2.7.post2
charset-normalizer==3.4.1
nvtx==0.2.11
googledrivedownloader==1.1.0
numexpr==2.10.2
gymnasium==1.1.1
branca==0.8.1
cons==0.4.6
catalogue==2.0.10
cramjam==2.9.1
pycairo==1.27.0
platformdirs==4.3.7
PyDrive==1.3.1
pathlib==1.0.1
terminado==0.18.1
huggingface-hub==0.29.3
sphinxcontrib-applehelp==2.0.0
ucx-py-cu12==0.42.0
psycopg2==2.9.10
inflect==7.5.0
en_core_web_sm==3.8.0
tbb==2022.0.0
etuples==0.3.9
google-spark-connect==0.5.2
google-cloud-bigquery==3.29.0
google-cloud-dataproc==5.18.1
ipyparallel==8.8.0
pylibcugraph-cu12==25.2.0
pyshp==2.3.1
blinker==1.9.0
jsonpickle==4.0.2
google-cloud-resource-manager==1.14.2
gcsfs==2025.3.0
simsimd==6.2.1
easydict==1.13
webencodings==0.5.1
google-pasta==0.2.0
simplejson==3.20.1
rpy2==3.5.17
imageio==2.37.0
timm==1.0.15
pycocotools==2.0.8
multidict==6.2.0
flax==0.10.4
nvidia-ml-py==12.570.86
aiosignal==1.3.2
spacy-legacy==3.0.12
jsonpatch==1.33
PyDrive2==1.21.3
sklearn-compat==0.1.3
scipy==1.14.1
markdown-it-py==3.0.0
langcodes==3.5.0
orbax-checkpoint==0.11.9
cuml-cu12==25.2.1
mistune==3.1.3
google-cloud-bigquery-connection==1.18.2
cupy-cuda12x==13.3.0
beautifulsoup4==4.13.3
tzdata==2025.1
opencv-python==4.11.0.86
pooch==1.8.2
holidays==0.69
plotnine==0.14.5
httplib2==0.22.0
Pyomo==6.8.2
lazy_loader==0.4
fastjsonschema==2.21.1
python-apt==0.0.0
types-setuptools==76.0.0.20250313
pip==24.1.2
setuptools==75.1.0
requirements-parser==0.9.0
Attention_is_all_you_need==0.1.0
PyJWT==2.3.0
lazr.restfulclient==0.14.4
jeepney==0.7.1
SecretStorage==3.3.1
keyring==23.5.0
oauthlib==3.2.0
wadllib==1.3.6
launchpadlib==1.10.16
more-itertools==8.10.0
Markdown==3.3.6
distro==1.7.0
lazr.uri==1.0.6
python-apt==2.4.0+ubuntu4
importlib-metadata==4.6.4
zipp==1.0.0
MarkupSafe==2.0.1
Mako==1.1.3
cryptography==3.4.8
six==1.16.0
dbus-python==1.2.18
httplib2==0.20.2
pyparsing==2.4.7
PyGObject==3.42.1
blinker==1.4
backports.tarfile==1.2.0
importlib_metadata==8.0.0
jaraco.text==3.12.1
importlib_resources==6.4.0
autocommand==2.2.2
packaging==24.1
wheel==0.43.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
zipp==3.19.2
typing_extensions==4.12.2
jaraco.collections==5.1.0
more-itertools==10.3.0
tomli==2.0.1
typeguard==4.3.0
platformdirs==4.2.2
inflect==7.3.1
